@inherits LayoutComponentBase

<style>
    .sidebar {
        background-color: white !important;
    }
</style>

<div class="page">
    <div class="sidebar" style="background-image:none; background-color:cadetblue; overflow-y: scroll;">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth bg-info">
            <LoginDisplay />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code { 
    protected override void OnInitialized()
    {
        this.StateHasChanged();
    }
} 
